{% extends "layout.html" %}
{% block body %}
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Snippet</th>
      <th class="mdl-data-table__cell--non-numeric">Facebook</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{entry.from_name}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{entry.message|safe}}</td>
      <td class="mdl-data-table__cell--non-numeric"><a href={{entry.link}}>Link</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
