{% extends "layout.html" %}
{% block body %}
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Snippet</th>
      <th class="mdl-data-table__cell--non-numeric">Date/Time</th>
      <th class="mdl-data-table__cell--non-numeric">Facebook</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{post.from_name}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{post.message|safe}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{post.date}}</td>
      <td class="mdl-data-table__cell--non-numeric"><a href={{post.link}}>Link</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
